<app-navbar></app-navbar>

<ion-content class="ion-padding" style="--background: #121212;">
  <div class="container mt-5 d-flex justify-content-center align-items-center">
    <div class="card p-4 shadow-lg w-100 text-white bg-dark" style="max-width: 400px; border-radius: 10px;">
      <h2 class="text-center fw-bold mb-4 text-warning">Iniciar Sesión</h2>

      <form (ngSubmit)="login()">
        <div class="mb-3">
          <label for="correo" class="form-label text-white">Correo electrónico</label>
          <input
            type="email"
            id="correo"
            name="correo"
            [(ngModel)]="correo"
            class="form-control"
            placeholder="Correo"
            required
          />
        </div>

        <div class="mb-4">
          <label for="contrasena" class="form-label text-white">Contraseña</label>
          <input
            type="password"
            id="contrasena"
            name="contrasena"
            [(ngModel)]="contrasena"
            class="form-control"
            placeholder="Contraseña"
            required
          />
        </div>

        <div *ngIf="error" class="alert alert-danger text-center py-2">
          {{ error }}
        </div>

        <button type="submit" class="btn btn-warning w-100 fw-bold">
          Iniciar Sesión
        </button>
      </form>
    </div>
  </div>
</ion-content>
